<!-- page 8 -->
{% extends 'base.html' %}

{% block script %}
<script>
    function fn1(){
        window.location="appraisal";
    }
</script>
{% endblock %}


{% block main_text %}
<br>
<p class="t_title">
  As a crew member on this journey, please use this form to rate your emotion at the moment. 

</p>

<p class = 't_note'>
    0 = not experiencing this emotion at all, 
    5= experiencing this emotion moderately, 
    10 = experiencing this emotion intensely
</p>


<form method="POST">
  {{ form.hidden_tag() }}
  
  <table>
      <tr>
          <th></th>
          <th>0</th>
          <th>1</th>
          <th>2</th>
          <th>3</th>
          <th>4</th>
          <th>5</th>
          <th>6</th>
          <th>7</th>
          <th>8</th>
          <th>9</th>
          <th>10</th>
      </tr>
      <tr>

          <td>{{ form.despair.label }}</td>
          {% for subfield in form.despair %}
          <td><div class="radio-button">{{ subfield }}</div></td>
          {% endfor %}
      </tr>
      <tr>
        <td>{{ form.anxiety.label }}</td>
        {% for subfield in form.anxiety %}
        <td><div class="radio-button">{{ subfield }}</div></td>
        {% endfor %}
    </tr>
    <tr>
        <td>{{ form.irritation.label }}</td>
        {% for subfield in form.irritation %}
        <td><div class="radio-button">{{ subfield }}</div></td>
        {% endfor %}
    </tr>
      <tr>
          <td>{{ form.rage.label }}</td>
          {% for subfield in form.rage %}
          <td><div class="radio-button">{{ subfield }}</div></td>
          {% endfor %}
      </tr>
      <tr>
        <td>{{ form.shame.label }}</td>
        {% for subfield in form.shame %}
        <td><div class="radio-button">{{ subfield }}</div></td>
        {% endfor %}
      </tr>
      <tr>
        <td>{{ form.guilt.label }}</td>
        {% for subfield in form.guilt %}
        <td><div class="radio-button">{{ subfield }}</div></td>
        {% endfor %}
    </tr>
  </table>
<br>

<p class="t_title">
  Please explain your emotions. For example: 
  <br>Why do you feel such emotions, which part of the game makes you feel that way? 
    <br>
</p>
  
<div class="feedback-input">
      {{ form.feedback.label }}
      {{ form.feedback(class="feedback-input") }}
  </div>
<br><br>

  <input type="submit" value="Continue" class = "continue-btn">
</form>

<br><br><br>

{% endblock %}
